[Unit]
Description=Shutdown
After=network.target

[Service]
User=pi
ExecStart=/usr/bin/python -u /home/pi/Raspberry-remote-shutdown/shutdown.py
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=multi-user.target